            <tr>
                <td>
                    <%= text_field :param_name,'0',class: 'form-control' %>
                </td>
                <td>
                    <%= text_field :param_help,'0' ,class: 'col-md-4 form-control' %>
                </td>
                <td>
                    <button class="btn btn-danger" id="delete_param">Delete</button>
                </td>
            </tr>
